body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cls-1 {
  fill: url(#radial-gradient-2);
}

.cls-1,.cls-2 {
  opacity: .32;
}

.cls-3 {
  fill: #fff;
}

.cls-4 {
  clip-path: url(#clippath-1);
}

.cls-5 {
  fill: none;
}

.cls-2 {
  fill: url(#radial-gradient);
}